<div class="container">
  <div class="row">
    <div class="col">
      <h1>Editing user</h1>
    </div>
  </div>

    <div class="row">
      <div class="col mb-2">
        <%= render "form", user: @user %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div>
          <%= link_to "Show", @user, class: "btn btn-success" %>
          <%= link_to "Back", users_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>
</div>
